bcrypt==3.1.4
cffi==1.17.1
click==8.1.3
decorator==4.3.0
flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==6.0.2
flask-marshmallow==1.3.0
Flask-SQLAlchemy==3.0.5
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.2.2
gunicorn==23.0.0
infinity==1.4
intervals==0.8.1
itsdangerous==2.2.0
Jinja2==3.1.2
MarkupSafe==3.0.3
marshmallow==3.26.1
marshmallow-sqlalchemy==1.4.1
psycopg2==2.9.11
pycparser==2.22
pypnusershub==3.1.0
python-dateutil==2.9.0.post0
six==1.17.0
SQLAlchemy==1.4.54
validators==0.12.2
Werkzeug==3.1.0
WTForms==2.2.1
WTForms-Components==0.10.3
WeasyPrint==44.0.0
Flask-Excel==0.0.7
