
  {% import "bootstrap/wtf.html" as wtf %}
  {% include "header.html" %}
  {% include "head-appli.html" %}

{% block content %}

  <form method="POST" class="container" novalidate>
    <h3 class="margin-neg">{{ title }}</h3>

    <div class="row forms card">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </form>

{% endblock %}
