<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container main-zone ng-scope">
        <h2 class="margin-neg">{{ title }}</h2>
        <h2>Relais {{ group.group_name }} ({{ group.group_leader }})</h2>
      </div>
      <div class="container main-zone ng-scope ">
        <ul>
          {% for elt in products %}
            <li>{{ elt.product_name }}</li> 
          {% endfor %}
        </ul>
      </div>
      <button onclick='window.location.href=""' id="submit" class="btn btn-default">Modifier</button>
  </body>
</html>
