<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container main-zone ng-scope">
        <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
          <h2 >{{ group.group_name }}</h2>
        </div>
        <hr /><br />
      </div>
      <div class="container main-zone ng-scope ">
        <div class="card ">
          <div class="card-header bg-secondary text-white">
            {{ name_list }} {{ group.group_name }} ({{ group.group_leader }})
          </div>
          {% for elt in table %}
            <div class="card-body">
              {{ elt.first_name }} {{ elt.last_name }} : <a href="mailto:{{ elt.email }}">{{ elt.email }}</a>
              {% if elt.user_comment %}
               <br /><small>{{elt.user_comment}}</small>
              {%endif%}
            </div>
          {% endfor %}
      </div>
  </body>
</html>
