<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container main-zone ng-scope">
        <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
          <h2>{{title}}
            <button 
              onclick='window.location.href="/gas/order/choice/{{ delivery.id_delivery }}"' 
              id="submit" 
              class="btn btn-outline-success btn-sm border border-white text-white float-right">
              Nouvelle commande
            </button>

          </h2>
        </div>
      </div>
      
      <hr /><br />
      <div class="container main-zone ng-scope ">
        <div class="card bg-success text-white">
          <div class="card-body">
            Commandes des relais
          </div>
        </div>
            {% for o in orders %}
              <div class="card" >
                <div class="card-header bg-secondary text-white" data-toggle="collapse" data-target="#group{{ o.group.id_group }}">
                  {{ o.group['group_name'] }} - {{o.group_price}}€
                  {% if 'D' in user_right %}
                  <button 
                    onClick="deleteRaw('/gas/order/delete/{{ delivery.id_delivery }}/{{ o.group.id_group }}')" 
                    type="submit" 
                    class="btn btn-outline-danger btn-sm border border-white text-white float-right">
                    Supprimer
                  </button>
                  {%endif%}
                  {% if 'U' in user_right %}
                  <button 
                    onclick='window.location.href="/gas/order/update/{{ delivery.id_delivery }}/{{ o.group.id_group }}"' 
                    id="submit" 
                    class="btn btn-outline-success btn-sm border border-white text-white float-right"
                    style="margin:0 3px">
                    Modifier
                  </button>
                  {%endif%}
                  
                </div>
                <div id="group{{ o.group.id_group }}" class="card-body collapse show">
                {% for p in o.products %}
                  <li  class="list-unstyled"><kbd>{{p.product.product_name}}</kbd> {{ p.nb }} caisse(s) = {{ p.price }}€</li>
                {% endfor %}
                </div>
              </div>
            {% endfor %}
            <br/>
          <div class="card bg-success text-white">
            <div class="card-body">Bilan de la commande (remise globale -{{results[0].delivery_discount*100}} %)</div>
          </div>
          <ul class="list-group">
          {% for p in results %}
            <li class="list-group-item list-unstyled">
              <kbd>{{ p.product_name }}</kbd> :
              <mark style="background-color: #fcf8e3;padding:.2em;">{{ p.case_number }} caisses</mark> = 
              {{ p.weight }}Kg -
              Vente : {{ p.selling_price }}€, 
              <mark style="background-color: #fcf8e3;padding:.2em;">Achat : {{ p.buying_price }}€</mark>, 
              Bénéfice : {{ p.benefice }}€
            </li>
          {% endfor %}
          </ul>

          <br />
          <div class="card bg-success text-white">
            <div class="card-body">Résultats</div>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Nombre total de caisses : {{ sums.case_number }}</li>
            <li class="list-group-item">Poids total : {{ sums.weight }}Kg</li>
            <li class="list-group-item">Somme des ventes : {{ sums.selling }}€</li>
            <li class="list-group-item">Montant des achats : {{ sums.buying }}€</li>
            <li class="list-group-item">Bénéfice total : {{ sums.benefice }}€</li>
          </ul>
      </div>
  </body>
</html>
