<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container main-zone ng-scope">
        <h2 class="margin-neg">{{ title }}</h2>
        <br />
        <hr /><br />
        <div class="container main-zone ng-scope ">
          <div class="card bg-success text-white">
            <div class="card-body">
              Relais {{ group.group_name }} ({{ group.group_leader }}) - 
              {{ group_order_sum.total }}€
              {% if 'D' in user_right %}
                <button onClick="deleteRaw('/gas/order/delete/{{ delivery.id_delivery }}/{{ group.id_group }}')" type="submit" class="btn  btn-outline-danger btn-sm float-right">
                  Supprimer
                </button>
              {%endif%}
              {% if 'U' in user_right %}
              <button 
                onclick='window.location.href="/gas/order/update/{{ delivery.id_delivery }}/{{ group.id_group }}"' 
                id="submit"
                class="btn btn-outline-light btn-sm float-right">
                Modifier
              </button>
              {%endif%}
            </div>
          </div>

          <ul>
            {% for go in group_order %}
              <div class="card">
                <div class="card-body">
                  <li class="list-unstyled"><kbd>{{ go.product_name }}</kbd> {{ go.product_case_number }} caisses = {{ go.selling_price }}€</li>
                </div>
              </div> 
            {% endfor %}
          </ul>
      </div>
  </body>
</html>
