<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container content main-zone ng-scope">
        <div class="card bg-success text-white">
          <div class="card-body text-center">
            VOTRE COMMANDE EST VALIDÉE
          </div>
        </div>
        <div class="card back">
          <div class="card-body">
            
            Vérifiez bien le contenu de votre commande.<br/>
            Il est possible de la modifier à tout moment en suivant le lien qui vous a permis de la créer.<br/>
            Vous pouvez la modifier maintenant en cliquant sur le bouton "Modifier" ci-dessous.
          </div>
        </div>
        <br />
        <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
          <h3>{{ title }}</h3>
        </div>

        <div class="card bg-secondary text-white">
          <div class="card-header">
            Relais {{ group.group_name }} ({{ group.group_leader }}) {{ group_order_sum.total }}€
            {% if 'D' in user_right %}
              <button 
                onClick="deleteRaw('../../../order/delete/{{ delivery.id_delivery }}/{{ group.id_group }}')" 
                type="submit" 
                class="btn btn-outline-danger btn-sm border border-white text-white float-right">
                Supprimer
              </button>
            {%endif%}
            {% if 'U' in user_right %}
            <button 
              onclick="window.location.href='../../../order/update/{{ delivery.id_delivery }}/{{ group.id_group }}'" 
              id="submit"
              class="btn btn-outline-success btn-sm border border-white text-white float-right">
              Modifier
            </button>
            {%endif%}
          </div>
          <div class="card-body text-dark back">
        {% for go in group_order %}
            <li class="list-unstyled"><kbd>{{ go.product_name }}</kbd> {{ go.product_case_number }} {{ go.product_unit }}s = {{ go.selling_price }}€</li>
        {% endfor %}
          </div>
        </div>
      </div>
  </body>
</html>
