{% import "bootstrap/wtf.html" as wtf %}
{% include "head-appli.html" %}
{% include "header.html" %}

{% block content %}
    <form method="POST" class="container content" novalidate>
        {{ form.hidden_tag() }} {{ form.csrf_token }}
        <h2 class="margin-neg">{{ title }}</h2>
        {% if is_update %}
            <div class="alert alert-info" role="alert">
                Une commande existe pour ce relais. Vous pouvez la modifier. N'oubliez pas d'enregistrer.
            </div>
        {% endif %}
        <div class="row forms card back">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        UNe erreur est survenue :<br />
                        {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            
            {% if 'id_group' in form %}
                {{ wtf.form_field(form.id_group, id="inputGroupSelect01") }}
            {% endif %}
            
            {% if 'group_discount' in form %}
                {{ wtf.form_field(form.group_discount) }}
            {% endif %}
            
            {% for nbc in nbcase %}
                <p>
                    {{ wtf.form_field(form[nbc]) }}
                </p>
            {% endfor %}
            {{ wtf.form_field(form.submit, class="btn btn-success") }}
        </div>
    </form>
{% endblock %}
