<html>
  {% include "header.html" %}
  <body>
    <div class="print_head">
      {{title}}
    </div>
    <br />

    {% for o in orders %}
    <div class="print_card">
      <div class="print_title">
        {{ o.group['group_name'].upper() }} <span style="float:right;"> {{o.group_price}} €</span>
      </div>
        {% for p in o.products %}
              <div class="print_product">{{p.product.product_name.upper()}} {{ p.nb }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <br/>
      <div class="print_card">
        <div class="print_title">
          BILAN (remise/frais {{results[0].delivery_discount}}% - Frais de port {{results[0].shipping}}€)
        </div>
        <ul >
          {% for p in results %}
            <li class="list-unstyled">
              <kbd>{{ p.product_name }}</kbd> :
              <mark style="background-color: #fcf8e3;padding:.2em;">{{ p.case_number }} {{ p.product_unit }}s</mark> = 
              {{ p.weight }} Kg -
              Vente : {{ p.selling_price }} €, 
              <mark style="background-color: #fcf8e3;padding:.2em;">Achat : {{ p.buying_price }} €</mark>, 
              Bénéfice : {{ p.benefice }} €
            </li>
          {% endfor %}
          </ul>
      </div>

      <br />
      <div class="print_card">
        <div class="print_title">
          TOTAUX
        </div>
        <div >
          <ul>
            <li class="list-unstyled">{{ sums.case_number }} unités d'emballage pour {{ sums.weight }} Kg</li>
            <li class="list-unstyled">Somme des ventes : {{ sums.selling }} €</li>
            <li class="list-unstyled">Montant des achats : {{ sums.buying }} €</li>
            <li class="list-unstyled">Bénéfice total : {{ sums.benefice }} €</li>
          </ul>
        </div>
      </div>
  </body>
</html>
