<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}

      <div class="container main-zone ng-scope">
        <div class="card p-4 mb-3 bg-secondary border border-white text-white text-white">
          <h2>{{title}}</h2>
        </div>
        
        <hr /><br />

        <div class="card">
          <div class="card-header bg-secondary text-white">
            DESCRIPTION DE LA LIVRAISON
          </div>
          <div class="card-body">
            {% if delivery.order_limit_date %}
            Date limite pour les commandes : {{ delivery.order_limit_date }}
            <br />
            {% endif %}
            Livraison le {{ delivery.delivery_date }}
            <br />
            {{delivery.delivery_comment }}
          </div>
        </div>

        <br />

        <div class="card" >
          <div class="card-header bg-secondary text-white">
            PRODUITS EN COMMANDE
          </div>
          <div class="card-body">
            {% for p in products %}
              <li  class="list-unstyled">
                <kbd>{{p.product_name}}</kbd> 
                {{ p.selling_price }}€ 
                <small>(Achat : {{ p.buying_price }}€)</small>
                Poids : {{ p.case_weight }}Kg
                {% if p.product_comment %}
                  - Commentaire : {{ p.product_comment }}
                {% endif %}
              </li>
            {% endfor %}
          </div>
        </div>
      </div>
  </body>
</html>
