
  {% import "bootstrap/wtf.html" as wtf %}
  {% include "header.html" %}
  {% include "head-appli.html" %}

{% block content %}

  <form method="POST" class="container" novalidate>
    <h3 class="margin-neg">{{ title }}</h3>

    {{ form.hidden_tag() }}

    <div class="row forms card">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger" role="alert">
                Veuillez remplir les champs obligatoires
            </div>
          {% endif %}
      {% endwith %}

      {{ wtf.form_field(form.active) }}
      {{ wtf.form_field(form.id_delivery, id="inputDeliverySelect01") }}
      {{ wtf.form_field(form.product_name) }}
      {{ wtf.form_field(form.product_unit) }}
      {{ wtf.form_field(form.buying_price) }}
      {{ wtf.form_field(form.selling_price) }}
      {{ wtf.form_field(form.case_weight) }}
      {{ wtf.form_field(form.product_comment) }}
      {{ wtf.form_field(form.submit, class="btn btn-success") }}
    </div>
  </form>

{% endblock %}
