<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}
      <div class="container main-zone ng-scope">
        <h2>{{ name_list }}</h2>
        {% if 'C' in user_right %}
          <p>
            <a href="{{pathA}}"><button type="submit" class="btn btn-success btn-sm">
                Ajouter {{ name }}
              </button></a>
          </p>
        {%endif%}
      </div>
      <div class="container main-zone ng-scope ">
        <div id="table">
          <table class="table table-bordered table-striped table-sm " id="tri">
            <thead>
              <tr class="footable-filtering"></tr>
              <tr>
                {% for name in fLine %}
                  <th scope="col">{{ name }}</th>
                {% endfor %}
                {% if otherCol == 'True'%}
                  <th scope="col"><i title="{{ Members }}" class="fa fa-user font-medium" aria-hidden="true"></i></th>
                {%endif%}
                {% if see == 'True'%}
                <th scope="col"><i title="Voir" class="fa fa-eye font-medium" aria-hidden="true"></i></th>
                {%endif%}
                {% if 'U' in user_right %}
                  <th scope="col"><i title="Modifier" class="fa fa-pencil font-medium" aria-hidden="true"></i></th>
                {%endif%}
                {% if 'D' in user_right %}
                  <th scope="col"><i title="Supprimer" class="fa fa-trash font-medium" aria-hidden="true"></i></th>
                {%endif%}
              </tr>
            </thead>
            <tbody>
              {% for elt in table %}
                <tr>
                  {% for name in line %}
                    {%if elt[name] is sameas true %}
                      <td>Oui</td>
                    {%elif elt[name] is sameas false%}
                      <td>Non</td>
                    {%else%}
                      {%if name != key %}
                        <td>{{ elt[name] | safe }}</td>
                      {%endif%}
                    {%endif%}
                  {% endfor %}
                  {% if see == 'True'%}
                  <td align="center">
                    <a href="{{pathI}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm ">
                        <i class="fa fa-eye font-medium" aria-hidden="true"></i>
                      </button>
                    </a>
                  </td>
                  {%endif%}
                  {% if otherCol == 'True'%}
                    <td align="center">
                      <a href="{{pathP}}{{elt[key]}}" title="Liste des {{Members.lower()}}">
                        <button type="submit" class="btn btn-secondary btn-sm ">
                          <i class="fa fa-user font-medium" aria-hidden="true"></i>
                        </button>
                    </a>
                    </td>
                  {%endif%} 
                  {% if 'U' in user_right %}
                  <td align="center">
                    <a href="{{pathU}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <i class="fa fa-pencil font-medium" aria-hidden="true"></i>
                      </button>
                    </a>
                  </td>
                  {%endif%}
                  {% if 'D' in user_right %}
                  <td align="center">
                    <button onClick="deleteRaw('{{pathD}}{{elt[key]}} ')" type="submit" class="btn btn-danger btn-sm">
                      <i class="fa fa-trash font-medium" aria-hidden="true"></i>
                    </button>
                  </td>
                  {%endif%}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
