<html>
  {% include "header.html" %}
  <body>
      {% include "head-appli.html" %}
      <div class="container content" >
        <div class="card p-4 mb-3 bg-secondary border border-0 text-white">
          <h2>{{ name_list }}
          {% if 'C' in user_right %}
              <a href="{{pathA}}"><button type="submit" class="btn btn-outline-success btn-sm border border-white text-white float-right">
                  Ajouter {{ name }}
                </button></a>
          {%endif%}
          </h2>
        </div>
        <div id="table" class="back" style="padding: 20px;">
          <table  class="hover table table-bordered table-striped table-hover table-sm table-responsive-sm" id="tri" sortcol="{{ sortcol }}" sortdirection="{{ sortdirection }}">
            <thead>
              <tr>
                {% for name in fLine %}
                  <th scope="col">{{ name }}</th>
                {% endfor %}
                {% if otherCol == 'True'%}
                  <th style="vertical-align: middle; text-align: center" scope="col"><span title="{{ Members }}" class="fa fa-user font-medium" aria-hidden="true"></span></th>
                {%endif%}
                {% if see == 'True'%}
                <th style="vertical-align: middle; text-align: center" scope="col"><span title="Voir" class="fa fa-eye font-medium" aria-hidden="true"></span></th>
                {%endif%}
                {% if 'U' in user_right %}
                  <th style="vertical-align: middle; text-align: center" scope="col"><span title="Modifier" class="fa fa-pencil font-medium" aria-hidden="true"></span></th>
                {%endif%}
                {% if duplicate == 'True'%}
                <th style="vertical-align: middle; text-align: center" scope="col"><span title="Dupliquer" class="fa fa-files-o font-medium"
                    aria-hidden="true"></span></th>
                {%endif%}
                {% if 'D' in user_right %}
                  <th style="vertical-align: middle; text-align: center" scope="col"><span title="Supprimer" class="fa fa-trash font-medium" aria-hidden="true"></span></th>
                {%endif%}
              </tr>
            </thead>
            <tbody>
              {% for elt in table %}
                <tr>
                  {% for name in line %}
                    {%if elt[name] is sameas false %}
                      <td style="vertical-align: middle; text-align: center">Non</td>
                    {%elif elt[name] is sameas true%}
                      <td style="vertical-align: middle; text-align: center">Oui</td>
                    {%else%}
                      {%if name != key %}
                        <td style="vertical-align: middle;">{{ elt[name] | safe }}</td>
                      {%endif%}
                    {%endif%}
                  {% endfor %}
                  {% if see == 'True'%}
                  <td style="vertical-align: middle; text-align: center">
                    <a href="{{pathI}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm ">
                        <span title="Voir" class="fa fa-eye font-medium" aria-hidden="true"></span>
                      </button>
                    </a>
                  </td>
                  {%endif%}
                  {% if otherCol == 'True' %}
                    <td style="vertical-align: middle; text-align: center">
                      <a href="{{pathP}}{{elt[key]}}">
                        <button type="submit" class="btn btn-secondary btn-sm ">
                          <span title="Voir le contenu" class="fa fa-user font-medium" aria-hidden="true"></span>
                        </button>
                    </a>
                    </td>
                  {%endif%} 
                  {% if 'U' in user_right %}
                  <td style="vertical-align: middle; text-align: center">
                    <a href="{{pathU}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <span title="Modifier" class="fa fa-pencil font-medium" aria-hidden="true"></span>
                      </button>
                    </a>
                  </td>
                  {%endif%}
                  {% if 'U' in user_right and duplicate == 'True' %}
                  <td style="vertical-align: middle; text-align: center">
                    <a href="{{pathC}}{{elt[key]}}">
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <span title="Dupliquer" class="fa fa-files-o font-medium" aria-hidden="true"></span>
                      </button>
                    </a>
                  </td>
                  {%endif%}
                  {% if 'D' in user_right %}
                  <td style="vertical-align: middle; text-align: center">
                    <button onclick="deleteRaw('{{pathD}}{{elt[key]}}')" type="submit" class="btn btn-danger btn-sm">
                      <span title="Supprimer" class="fa fa-trash font-medium" aria-hidden="true"></span>
                    </button>
                  </td>
                  {%endif%}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
